{% extends 'base_post.html' %}
{% block content %}
    <h1>
        <b>
            {{ post.title }}
        </b>
    </h1>

    <h3>
        {% for category in post.categories.all %}
            <a href="/search?domain=category&keyword={{ category.name }}"><small><small>{{ category.name }}</small></small></a>
        {% endfor %}
    </h3>
    <!-- Author -->
    <p class="lead">
        <b>by</b> <a href="/aboutme/"><b>{{ post.author }}</b></a>
    </p>

    <hr>
    <!-- Date/Time -->
    <p><span class="glyphicon glyphicon-time"></span> {{ post.datetime }}</p>

    <hr>

    <!-- Preview Image -->
    {% if post.title_image %}
        <div style="justify-content: center">
            <img class="img-responsive" src="{{ post.resized_title_image.url }}" style="padding-left: 15rem;
            padding-right: 10rem; padding-bottom: 5rem;">
        </div>
    {% endif %}
    <!-- Post Content -->
    <div style="padding-right: 8rem; padding-left: 8rem; padding-bottom: 5rem">
        {% if post.markdown_support %}
            {% load markdown_deux_tags %}
            {{ post.content|markdown }}
        {% else %}
            {{ post.content|safe }}
        {% endif %}
    </div>
    {% block disqus %}
        <div id="disqus_thread" ></div>
            <script>
                /**
                    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                    /*
                    var disqus_config = function () {
                    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://techalert-me.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endblock %}
    {% block disqus-count %}
        <script id="dsq-count-scr" src="//techalert-me.disqus.com/count.js" async></script>
    {% endblock %}
{% endblock %}